<div class="filterWrapper position-relative">
    <div class="Arrows position-absolute top-0 start-0">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="filter list-group list-group-horizontal text-nowrap overflow-auto">
        <a href="/menu" class="list-group-item border-0 list-group-item-action">All</a>
        <a href="/menu/Chicken" class="list-group-item border-0 list-group-item-action">Chicken</a>
        <a href="/menu/Fried Chicken" class="list-group-item border-0 list-group-item-action">Fried Chicken</a>
        <a href="/menu/Wings" class="list-group-item border-0 list-group-item-action">Wings</a>
        <a href="/menu/Beef" class="list-group-item border-0 list-group-item-action">Beef</a>
        <a href="/menu/Burger" class="list-group-item border-0 list-group-item-action">Burger</a>
        <a href="/menu/Seafood" class="list-group-item border-0 list-group-item-action">Seafood</a>
        <a href="/menu/Sides" class="list-group-item border-0 list-group-item-action">Sides</a>
        <a href="/menu/Pizza" class="list-group-item border-0 list-group-item-action">Pizza</a>
        <a href="/menu/Vegetarian" class="list-group-item border-0 list-group-item-action">Vegetarian</a>
        <a href="/menu/Salad" class="list-group-item border-0 list-group-item-action">Salad</a>
        <a href="/menu/Other" class="list-group-item border-0 list-group-item-action">Other</a>
        <a href="/menu/Drinks" class="list-group-item border-0 list-group-item-action">Drinks</a>
        <a href="/menu/Dessert" class="list-group-item border-0 list-group-item-action">Dessert</a>
    </div>
    <!--filter bar. when filter item clicked, redirecrs to diffrent url where items are loaded already filtered from server-->
    <div class="Arrows position-absolute top-0 end-0">
        <i class="fas fa-chevron-right navArrowRight"></i>
    </div>
</div>