<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kennedy Fried Chicken: Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/landing.css">
    <script type="module" src="../partials/reset.js" async></script>  
</head>
<body>
    <%- include('./partials/navbar.ejs')  %>    

    <div class="parallaxTop position-relative">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="card callToAction circular">

                <form class="card-body resetForm" action="" method="">
                    <h1 class="text-white">PLEASE ENTER EMAIL ADDRESS TO RESET PASSWORD</h1>
                    <div class="singinWrapper position-relative">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email" aria-label="Email" id="email" name="email" required>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row loginWrapper">
                          <div class="col text-center">
                            <button type="submit" class="loginBtn btn fw-bold circular text-white">Reset Password</button>     
                          </div>
                        </div>
                    </div>

                </form>

            

            </div>
        </div>
    </div>
    

</body>
</html>